@model IEnumerable<SGE.Models.TipoOcorrencia>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoOcorrenciaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadAtivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadInativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoOcorrenciaNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadAtivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadInativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TipoOcorrenciaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TipoOcorrenciaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TipoOcorrenciaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
