@model IEnumerable<SGE.Models.ReservaSala>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataReserva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadAtivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadInativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.SalaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.UsuarioId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataReserva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadAtivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CadInativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservaSalaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservaSalaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservaSalaId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
