@model IEnumerable<SGE.Models.Sala>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SalaNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadAtivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CadInativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SalaNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CadAtivo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CadInativo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SalaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SalaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SalaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
